@{
    ViewData["Title"] = "ItemDetail";
}

<!DOCTYPE html>
<html class="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


</head>

<body>
    <div class="container">
        <h1 class="my-5">ItemDetail</h1>
        <button type="button" class="btn btn-primary btn-sm btn-icon icon-left col-sm-2" onclick="ModalInsert()">AddItem</button>
        <center>
            <table class="table table-striped table-bordered display" cellspacing="0" width="100%" id="ItemDetailTable">
                <thead>
                    <tr>
                        <th>ItemID</th>
                        <th>Itemname</th>
                        <th>Price</th>
                        <th>Buy</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                
            </table>
        </center>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="modalInsertItem" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modal AddItem</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-4">

                        <input type="hidden" class="form-control" id="AddItemID" name="AddItemID">
                    </div>
                    <div class="form-group mb-4">
                        <label class="text-dark">Itemname : </label>
                        <input type="text" class="form-control" id="AddItemName" name="AddItemName" placeholder="Enter ItemName" autocomplete="off">
                    </div>
                    <div class="form-group mb-4">
                        <label class="text-dark">Price : </label>
                        <input type="text" class="form-control" id="AddPrice" name="AddPrice" placeholder="Enter Price Item" autocomplete="off">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="InsertItem()">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!----------------------------------Modal BuyItem------------------------------------->

    <div class="modal fade" id="modalBuyItem" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modal BuyItem</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group my-3 ">
                        <div class="col-lg-6 my-3">
                            <label class="text-dark">UserID: </label>
                            <input type="text" class="form-control" id="UserID" name="UserID">
                        </div>
                        <div class="col-lg-6 my-3">
                            <label class="text-dark">ItemID: </label>
                            <input type="text" class="form-control" id="ItemID" name="ItemID">
                        </div>
                    </div>
                    <div class="form-group my-3 ">
                        <div class="col-lg-6 my-3">
                            <label class="text-dark">UserName: </label>
                            <input type="text" class="form-control" id="UserName" name="UserName">
                        </div>
                        <div class="col-lg-6 my-3">
                            
                            <label class="text-dark">ItemName: </label>
                            <input type="text" class="form-control" id="ItemName" name="ItemName">
                            
                        </>
                    </div>
                    <div class="form-group my-3 ">
                        <div class="col-lg-6 my-3">
                            <label class="text-dark">Date: </label>
                            <input type="text" class="form-control" id="Datenew" name="Date">
                        </div>
                        <div class="col-lg-6 my-3">
                            <label class="text-dark">Total: </label>
                            <input type="text" class="form-control" id="Total" name="Total">
                        </div>
                    </div>
                    <div class="form-group my-3 ">
                        <div class="col-lg-6 my-3">
                        </div>
                        <div class="col-lg-6 my-3">
                            <label class="text-dark">Price: </label>
                            <input type="text" class="form-control" id="Price" name="Price">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">Buy</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- The Modal -->
        <div class="modal fade" id="modalUpdateItem" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modal UpdateItem</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-4">
                        
                        <input type="hidden" class="form-control" id="UpdateItemID" name="UpdateItemID">
                    </div>
                    <div class="form-group mb-4">
                        <label class="text-dark">Itemname : </label>
                        <input type="text" class="form-control" id="UpdateItemName" name="UpdateItemName" placeholder="Enter ItemName" autocomplete="off">
                    </div>
                    <div class="form-group mb-4">
                        <label class="text-dark">Price : </label>
                        <input type="text" class="form-control" id="UpdatePrice" name="UpdatePrice" placeholder="Enter Price Item" autocomplete="off">
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="UpdateItem()">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="modalDeleteItem" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modal DeleteItem</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-4">

                        <input type="hidden" class="form-control" id="DeleteItemID" name="DeleteItemID">
                    </div>
                    <div class="form-group mb-4">
                        <label class="text-dark">Itemname : </label>
                        <input type="text" class="form-control" id="DeleteItemName" name="DeleteItemName" placeholder="Enter ItemName" readonly>
                    </div>
                    <div class="form-group mb-4">
                        <label class="text-dark">Price : </label>
                        <input type="text" class="form-control" id="DeletePrice" name="DeletePrice" placeholder="Enter Price Item" readonly>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="CheckDelete()">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="modalCheckDelete" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modal DeleteItem</h4>
                </div>
                <div class="modal-body">
                    <center>You Want Delete Data (Yes/No) </center>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="DeleteItem()">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>

        </div>
    </div>
    
</body>

</html>

<script type="text/javascript">
    $(document).ready(function () {
        $.noConflict();
        var userid = localStorage.getItem('Userid');

        var username = localStorage.getItem("User");



        $("#UserID").val(userid);

        $("#UserName").val(username);
        display();

    });
    
    $('#Datenew').datepicker({
        format: 'dd/mm/yyyy',
        todayBtn: 'linked',
        todayHighlight: true,
        autoclose: true,
        setDate: new Date()
    });

    $(function () {
        var availableTags = [
            "ActionScript",
            "AppleScript",
            "Asp",
            "BASIC",
            "C",
            "C++",
            "Clojure",
            "COBOL",
            "ColdFusion",
            "Erlang",
            "Fortran",
            "Groovy",
            "Haskell",
            "Java",
            "JavaScript",
            "Lisp",
            "Perl",
            "PHP",
            "Python",
            "Ruby",
            "Scala",
            "Scheme"
        ];
        $("#ItemName").autocomplete({
            source: availableTags
        });
    });


    function display() {

        $.ajax({
            async: false,
            contentType: false,
            processData: false,
            type: 'POST',
            url: '/Clients/DataTableAsJsonItemDetail',


            success: function (data) {

                
                var obj = JSON.parse(data);

                console.log(obj);

                try {

                    $("#ItemDetailTable").destroy();
                }
                catch {
                    $("#ItemDetailTable").DataTable({
                        data: obj,
                        columns: [
                            { data: "ItemID", width: "10%" },
                            { data: "ItemName", width: "40%" },
                            { data: "Price", width: "20%" },
                            {
                                render: function (data, type) {   // HERE I NEED HELP
                                    return "<button class='btn-buy btn btn-primary btn-sm btn-icon icon-left col-sm-12'>Buy</button>";
                                }
                            },
                            {
                                render: function (data, type) {   // HERE I NEED HELP
                                    return "<button class='btn-edit btn btn-info btn-sm btn-icon icon-left col-sm-12'>Update</button>";
                                }
                            },
                            {
                                render: function (data, type) {   // HERE I NEED HELP
                                    return "<button class='btn-delete btn btn-danger btn-sm btn-icon icon-left col-sm-12'>Delete</button>";
                                }
                            }

                        ]
                    });
                }
            }
        });
    };

    function ModalInsert() {
        $("#modalInsertItem").modal('show');
    };

    function InsertItem() {

        var data = new FormData();
        data.append("AddItemName", $("#AddItemName").val());
        data.append("AddPrice", $("#AddPrice").val());
        

        $.ajax({
            async: false,
            contentType: false,
            processData: false,
            type: 'POST',
            url: '/Clients/InsertItem',
            data: data,

            success: function (data) {
                alert(data);
                window.location.reload();
            }
        });
    };

    $(document).on('click', '.btn-buy', function () {

        $("#modalBuyItem").modal('show');

        var table = $('#ItemDetailTable').DataTable();
        var jsonObj = table.row($(this).closest('td, li')).data();

        var ItemID = jsonObj.ItemID;
        var ItemName = jsonObj.ItemName;
        var Price = jsonObj.Price;



        $('#ItemID').val(ItemID);
        $('#ItemName').val(ItemName);
        $('#Price').val(Price);

    });

    $(document).on('click', '.btn-edit', function () {
        
        $("#modalUpdateItem").modal('show');

        var table = $('#ItemDetailTable').DataTable();
        var jsonObj = table.row($(this).closest('td, li')).data();

        var ItemID = jsonObj.ItemID;
        var ItemName = jsonObj.ItemName;
        var Price = jsonObj.Price;
        
        

        $('#UpdateItemID').val(ItemID);
        $('#UpdateItemName').val(ItemName);
        $('#UpdatePrice').val(Price);
        
    });

    function UpdateItem() {

        var data = new FormData();
        data.append("UpdateItemID", $("#UpdateItemID").val());
        data.append("UpdateItemName", $("#UpdateItemName").val());
        data.append("UpdatePrice", $("#UpdatePrice").val());
        

        $.ajax({
            async: false,
            contentType: false,
            processData: false,
            type: 'POST',
            url: '/Clients/UpdateItem',
            data: data,

            success: function (data) {
                alert(data);
                window.location.reload();
            }
        });
    };

    $(document).on('click', '.btn-delete', function () {

        $("#modalDeleteItem").modal('show');

        var table = $('#ItemDetailTable').DataTable();
        var jsonObj = table.row($(this).closest('td, li')).data();

        var ItemID = jsonObj.ItemID;
        var ItemName = jsonObj.ItemName;
        var Price = jsonObj.Price;
        var Total = jsonObj.Total;


        $('#DeleteItemID').val(ItemID);
        $('#DeleteItemName').val(ItemName);
        $('#DeletePrice').val(Price);
        

        
    });

    function CheckDelete() {

        $("#modalCheckDelete").modal('show');
        
        };

    function DeleteItem() {

        var data = new FormData();
        data.append("DeleteItemID", $("#DeleteItemID").val());
       

        $.ajax({
            async: false,
            contentType: false,
            processData: false,
            type: 'POST',
            url: '/Clients/DeleteItem',
            data: data,

            success: function (data) {
                alert(data);
                window.location.reload();
            }
        });
    };
</script>